.search-criteria-list{
    list-style: none;
    padding: 0;
}
.search-criteria-list > li{
    display: inline-block;
    margin: 0 6px 2px 0;
}

.demo-container,
#page,
#app {
  height: 100%;
  /* min-height: 300px; */
}

.header {
    text-align: center;
  }

.item {
  height: 100%;
  list-style: none;
}

.item .dropdown-head { 
    width: 350px;
}

.item .dropdown { 
    width: 200px;
}

.item > li {
    display: inline-block;
    margin: 0 6px 2px 0;
}

.date-same-dropdown {
    display: inline-block;
}
